<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.16.1" targetFramework="net40" />
  <package id="FluentAssertions" version="2.1.0.0" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="8.0.4.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>